/* src/components/HomePage.css */

.home-page {
    position: relative;
    height: 100vh;
    z-index: 1;
  }
  
  .video-bg {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* src/components/HomePage.css */

.content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    text-align: left;
  }
  
  .main-title {
    /* font-size: 2rem; */
    font-size: 55px;
    margin-bottom: 1rem;
    color: #FBEEAC;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .description {
    color: #fff;
    font-size: 1.2rem;
    max-width: 600px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
    .sub-heading {
    font-size: 38px;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
  
  .try-now-button {
    background-color: rgba(0, 0, 0, 0.1); 
    color: #fff;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 7px;
    box-shadow: 2px;
    font-size: 1rem;
    cursor: pointer;
    backdrop-filter: blur(4px);
  }
  .app__profile-item{
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;}