/* src/components/LegalAdvice.css */
.legal-advice-page {
  display: flex;
  min-height: 100vh; /* Set minimum height to cover the whole viewport */
}


.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.options {
  /* margin-top: 100px; */
  background-color: #C4F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

.option {
  width: 200px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.option.selected {
  background-color: #4caf50;
  color: #fff;
}

.selected-option-box {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to cover the whole viewport */
}

.selected-content {
  width: 400px;
  height: 400px;
  background-color: #C4F3F3;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
}
