.main{
    background-color: #C4DFDF;
    flex: 10;
    min-height: calc(100vh-14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 10rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
    word-break: break-word;
}

.chats::-webkit-scrollbar {
    display: none;
}
.chats {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    color: black;
    word-break: break-word;
}

.chat1{
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 0.9rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    color: black;
    position: relative;
    word-break: break-word;
}


.chatImg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.bot{
    background: #E3F4F4;
    width: 50rem;
    border-radius: 0.5rem;
    color: black;
}
.chatImg1{
    width: 25px;
    height: 25px;
    padding: 4px;
    /* margin-bottom: 1px; */
}

.txt{
    word-break: break-word;
}

.edit__div{
    background-color: #C4DFDF;
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    /* padding: 3px; */
    position: absolute;
    bottom: 5px; /* Shift it up by 5px */
    right: 8px;
}

.edit{
    width: 3rem;
    font-size: 16px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    
}

.chatFooter{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inp{
    padding: 0.5rem;
    background: #F8F6F4;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    width: 45rem;
}
.inp>input{
    width: calc(100% - 3rem);
    outline: none;
    padding: 0.5rem;
    color: black;
}
.inp>input, .send{
    border: none;
    background: transparent;
    cursor: pointer;
}