.main{
    background-color: #C4DFDF;
    flex: 10;
    min-height: calc(100vh-14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 10rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 17rem);
}

.chats::-webkit-scrollbar {
    display: none;
}
.chats {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    color: black;
}

.chat1{
    margin: 1rem;
    padding: 2rem 3rem;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    text-align: justify;
    color: black;
}

.chatImg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 1rem;
}

.bot{
    background: #E3F4F4;
    width: fit-content;
    border-radius: 0.5rem;
    color: black;
}

.chatFooter{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inp{
    padding: 0.5rem;
    background: #F8F6F4;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    width: 45rem;
}
.inp>input{
    width: calc(100% - 3rem);
    outline: none;
    padding: 0.5rem;
    color: black;
}
.inp>input, .send{
    border: none;
    background: transparent;
}