.signup-container {
    display: grid;
    place-items: center;
    height: 80vh;
  }
  
  .form-container {
    display: grid;
    gap: 10px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  h2 {
    margin: 0;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  .but1 {
    width: 100%;
    padding: 10px;
  }
  
  .but1 {
    background-color: #4287f5;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-link {
    margin-top: 10px;
  }
  
  .login-link a {
    color: #4287f5;
  }
  
  